body {
  padding: 30px 0;
}

.App {
  text-align: center;
}

h1 {
  font-family: "Bigelow Rules";
  font-size: 4.5rem;
  color: transparent;
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255) 0%,
    rgb(247, 1, 1) 100%
  );
  background-clip: text;
}
